In [1]:
#importar librerias
import pandas as pd
import sys
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from pandas.tools.plotting import radviz
import ipywidgets as widgets
import pandas as pd
%matplotlib inline

In [4]:
mi_df = pd.read_csv('info.csv',sep=";",encoding="latin-1")

In [5]:
mi_df

      Ciudad  Poblacion
0       Loja     109000
1      Quito     200000
2  Guayaquil      15000
3     Cuenca      10000

In [6]:
mi_df.Ciudad

0         Loja
1        Quito
2    Guayaquil
3       Cuenca
Name: Ciudad, dtype: object